html, body{
	height: 100%;
}

@font-face {
	font-family: "blackjar";
	src: url('fonts/BLACKJAR.TTF');
}
@font-face {
	font-family: "bariol_regular";
	src: url('fonts/Bariol_Regular.otf');
}

body{
	font-size: 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "bariol_regular", Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
}

p:not(:last-of-type){
	margin-bottom: 20px;
}

#header {
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0px;
	z-index: 0;
}

#header > * {
	float: left;
	text-align: center;
	justify-content:space-between;
}

#header .logo{
	font-family: "blackjar", "bariol_regular", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	width: 300px;
	display: flex;
	align-self: center;
	justify-content: space-around;
}

#header .links{
	width: calc(100% - 350px);
	font-size: 25px;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

#header .links > *{
	padding: 20px 10px;
	flex-shrink: 0;
}

#header .links > *:hover{
	border-bottom: 2px solid #388697;
	font-size: 110%;
}

#header .linkedin{
	width: 50px;
	display: flex;
	justify-content: space-around;
}

#header .linkedin > a{
	width: 32px;
	height: 32px;
	border-radius: 32px;
	flex-shrink: 0;
	align-self:center;
	background: #0077b5;
}

#header .linkedin > a:hover{
	box-shadow: -3px 3px 3px grey;
}

#content {
	background: #ecf0f1;
	overflow: auto;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	align-items:center;
	padding: 30px 0px;
}

#content > *
{
	width: 60%;
	padding: 20px;
	border-radius: 15px;
}

#content > *:not(:last-of-type){
	margin-bottom: 50px;
}


#content .title{
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 30px;
}

.box{
	background: #fff;
	box-shadow: 6px 6px 6px grey;
}

.circle{
	width: 50px;
	border-radius: 50px;
	background: #efce4a;
}

#content .circle:nth-of-type(1){
	float:left;
}
#content .circle:nth-of-type(2){
	float:right;
}


#footer {
	flex-shrink: 0;
	height: 200px;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	align-items:center;
}


/*----------------------------------------*/
/*--------------     CV    ---------------*/
/*----------------------------------------*/

#content.cv > *.photo .content{
	text-align: center;
}

#content.cv > *.pdf .content {
	text-align: center;
}

#content.cv > *.pdf .content a{
	color: white;
	padding: 5px;
	background: #2980b9;
	border-top-right-radius : 10px;
}

#content.cv > *.pdf .content a:hover{
	color: black;
}

/*----------------------------------------*/
/*------------  Competances  -------------*/
/*----------------------------------------*/

#content.competances .content > div{
	position: relative;
	height: 40px;
	border: solid 1px black;
}

#content.competances .content .progress-bar{
	width: 0px;
}

#content.competances .content > div, #content.competances .content > div > div{
	border-radius : 10px;
}

#content.competances .content > div > div{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
}

#content.competances .html5 .progress-bar{
	background: #ea8564;
	-webkit-animation: progress-html5 2s linear 0s forwards;
}
#content.competances .php-python .progress-bar{
	background: #55a69f;
	-webkit-animation: progress-php-python 2s linear 0s forwards;
}
#content.competances .virtualisation .progress-bar{
	background: #99856d;
	-webkit-animation: progress-virtualisation 2s linear 0s forwards;
}
#content.competances .js .progress-bar{
	background: #673ab7;
	-webkit-animation: progress-js 2s linear 0s forwards;
}

@keyframes progress-html5{
	0%   {width: : 0px;}
	100% {width: 60%}
}
@keyframes progress-php-python{
	0%   {width: : 0px;}
	100% {width: 33%}
}
@keyframes progress-virtualisation{
	0%   {width: : 0px;}
	100% {width: 75%}
}
@keyframes progress-js{
	0%   {width: : 0px;}
	100% {width: 60%}
}

#content.competances .text{
	padding: 10px 20px;
	z-index: 2;
	font-size: 20px;
	width: 100%;
}


#content.competances .content > div:not(:last-of-type){
	margin-bottom: 30px;
}

/*----------------------------------------*/
/*--------------  Contact  ---------------*/
/*----------------------------------------*/

#content.contact .content{
	text-align: center;
}

#content.contact input, #content.contact textarea{
	border: solid 1px black;
	width: 100%;
	box-shadow: 1px 1px 1px grey inset;
	padding: 10px 5px;
	background-color: #ecf0f1;
	border-radius: 15px;
	outline: none;
	color: grey;
}

#content.contact input{
	margin-bottom: 15px;
}

#content.contact textarea{
	min-height: 150px;
}

#content.contact button{
	padding: 10px;
	border-radius: 10px;
	background: #388697;
}
#content.contact button:hover{
	color: white;
}